# Copy this file to .env and fill your own values
QDRANT_URL=
QDRANT_API_KEY=

# Gemini API Integration
GEMINI_API_KEY=AlzaSyAHEQ5hVQrLUdzn8RtKafgXTxLt78WEH-E
GEMINI_PROJECT_NUMBER=805928140149
GEMINI_MODEL=gemini-2.5-flash

